


#sb{
 background-color: rgb(173, 169, 169);

}






div {

display: flex;
justify-content: center;
padding: 20px;

}

label, button, input{

    margin-right: 20px;

}

label,input{

color: rgb(0, 157, 255);

}

button{
    background:  rgb(0, 157, 255);
    color: white;
}