<app-search-bar (filtreCriteres)="filtrage($event)"></app-search-bar>
<ul>
  
  <li *ngFor="let auto of filteredAutos" class="car-item">
    <img [src]="auto.image_url" alt="{{ auto.marque }} {{ auto.modele }}" class="car-image" />
    <div class="car-details">
      <h3>{{ auto.marque }} {{ auto.modele }}</h3>
      <div class="car-price">À partir de {{ auto.prix }} </div>
      <button [routerLink]="['/autos',auto.marque + '.' +auto.modele+'.'+ auto.version]" class="details-button">Détails</button>
    </div>
  </li>
</ul>

